mat-form-field{
  width: 100%;
  margin-bottom: 10px;
}

mat-spinner
{
  margin: auto;
}

mat-card {
  width: 20vw;
  margin: 0 auto;
  margin-top: 15vh;
  padding: 30px;
}

.mat-focused .mat-form-field-label {
  color: black;
}
