<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onSignup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading" enctype="application/x-www-form-urlencoded">
    <mat-form-field>
      <input matInput name="username" ngModel type="username" placeholder="Username" #usernameInput="ngModel" required>
      <mat-error *ngIf="usernameInput.invalid">Please enter a valid username</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" name="password" ngModel placeholder="Password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please enter a password</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="name" ngModel type="name" placeholder="Name" #nameInput="ngModel" required>
      <mat-error *ngIf="nameInput.invalid">Please enter a valid name</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput name="surname" ngModel type="surname" placeholder="Surname" #surnameInput="ngModel" required>
      <mat-error *ngIf="surnameInput.invalid">Please enter a valid surname</mat-error>
    </mat-form-field>
  <button mat-raised-button color="primary" type="submit"  *ngIf="!isLoading">Sign up</button>
  </form>
</mat-card>
